*{
 padding: 0px;
 margin: 0px;
}
body{
 width: 80%;
 margin: 0px auto;
 background-color: #f1f4f5;
 font-family: "space mono";
}
h1{
 font-family: "space mono";
 color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0%;
  text-align: center;
}
h2{
 font-family: "work sans";
 margin-bottom: 5px;
 color: rgba(43, 135, 174, 0.95);
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0%;
  text-align: center;
}
h3{
 border-radius: 8px;
  background: rgba(82, 195, 3, 0.15);
  color: rgb(16, 16, 16);
   font-family: "Work Sans";
   font-size: 24px;
   font-weight: 600;
   line-height: 28px;
   letter-spacing: 0%;
   text-align: center;

    width: 50%px;
    height: 56px;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 14px 32px 14px 32px;
   
   
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 24px 0px;
}
nav{
 margin-bottom: 24px;
}
.box-container{
 border: 2px solid goldenrod;
 display: flex;
 /* gap: 10px; */
 margin: 50px auto;
 /* height: 600px; */
 /*___________________________*2.  flex direction___________________________________ */
 
 /* flex-direction: row; */
 /* flex-direction: row-reverse; */
 /* flex-direction: column; */
 /* flex-direction: column-reverse; */

 /*___________________________3. flex-warp____________________________________________*/
 
  /* flex-wrap: nowrap; */
  flex-wrap: wrap;
/* flex-wrap: wrap-reverse; */

/* ____________________________4. flex-flow____________________________________________*/

/* flex-flow: column wrap; */


/* ____________________________5. Justify-content_____________________________________ */

/* justify-content: flex-start; */
/* justify-content: flex-end; */
/* justify-content: center; */
/* justify-content: space-between;*/
/* justify-content: space-evenly; */

/* ______________________________6. Align-items_______________________________________ */

/* align-items: flex-start; */
/* align-items: flex-end; */
/* align-items: center; */
/* align-items: stretch; */
/* align-items: last baseline ; */


/*___________________________gap, row-gap and column-gap______________________________ */

/* gap: 15px; */
/* row-gap: 25px; */
/* column-gap: 15px; */





}
.box{
 /* width: 200px;
 height: 200px; */
 width: 200px;
 height: 200px;
 border: 2px solid blue;
 display: flex;
 justify-content: center;
 align-items: center;
 Font: "Work Sans";
 font-weight: 600; 
 Font-size: 24px;
 Letter-spacing: 0%
}
p{
 color: rgb(16, 16, 16);
  font-family: "courier prime";
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  background:#fff;
}
article{
 margin-bottom: 50px;
 border-radius: 100px 100px 0px 0px; 
 background: rgba(5, 151, 160, 0.15);

}
article> img{
 max-width: 500px;
 max-height: 600px;
 padding: 10px;
}

.example-container{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 flex-wrap: wrap;
 margin: 15px;
 gap: 30px;
}
.example-container img{
width: 100%;
}
#properties-for-children{
 border: 2px solid red;
}

.box2-container{
display: flex;
margin: 25px;
border: 2px solid red;
width: 700px;
}
.box2{
  width: 200px;
  height: 200px;
  border: 2px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
  Font: "Work Sans";
  font-weight: 600;
  Font-size: 24px;
  Letter-spacing: 0%;
  ;

 
}
#box-3{
 /* order: 5; */
 /* flex-grow: 1; */
 /* flex-shrink: 15; */
 align-self: flex-end;
 width: 200px;
}